
# Temp files of python
**/__pycache__/

# Virtual environment
.env

# drivers
drivers/

# Credentials
credentials.env

# Test reports
tests/example.py

# Logs
**/logs/

# export
exports/

app.spec
interfaceV01.ui
interfaceV02.ui

#build.py