QMainWindow {
    background-color: #1A1A1A;
}

/*Estilos del tema oscuro*/
#menuOptions {
    background-color: #292929;
    border-radius: 5px;
}

#menuOptions QPushButton {
    border: none;
    background-color: none;
    border-radius: 6px;
}

#menuOptions QPushButton:checked {
    background-color: #A92849;
}

#ohterOptions QPushButton {
    background-color: none;
    border: none;
}

#ohterOptions QPushButton:hover {
    background-color: #C94B6B;
    border-radius: 10px;
}

#frame_form QPushButton {
    background-color: #292929;
    color: #ffffff;
    background-color: #A92849;
    border-radius: 5px;
    padding: 5px;
}

#frame_form QPushButton:hover {
    color: #ffffff;
    background-color: #C94B6B;

}

#frame_form QLineEdit {
    background-color: #292929;
    color: #ffffff;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid #292929;
}

#frame_form QLineEdit:focus {
    border-color: #C94B6B;
    border-width: 2px;
}

#frame_form QGroupBox {
    font-size: 10px;
    border: 1px solid #A92849;
    padding: 15px;
    border-radius: 6px;
}

QDateEdit{
    font-size: 12px;
    border-color: none;
    background-color: #292929;
}
QDateEdit:focus{
    border-color: #C94B6B;
    border: 2px solid #C94B6B;
    border-radius: 6px;
}


#title {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}


QProgressBar {
    height: 5px;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: #C94B6B;
    border-radius: 4px;
}

#frame_titleBar{
    background-color: #292929;
    color: #ffffff;
    border-radius: 6px;
}

#frame_titleBar QPushButton{
    background-color: #1A1A1A;  
    width: 20px;
    height: 20px;
    border-radius: 10%;
}

#frame_titleBar #btn_closeFullscreen {
    background-color: #1A1A1A;
}

#frame_titleBar #btn_closeFullscreen:hover {
    background-color: #292929;
}


#frame_titleBar #btn_close{
    background-color: #A92849;
}
#frame_titleBar #btn_close:hover{
    background-color: #C94B6B;
}


/*Estilos que no deben cambiar*/
#frame_menuBar, #mainFrame, #frameOptions, #ohterOptions, #frame_content, #frame_form{
    border: none;
    background-color: none;
}
