/* Estilo general */
QMainWindow {
    background-color: #1A1A1A;
}
QLabel {
    color: #ffffff;
}

/* Estilo de los textbox y calendar*/
QLineEdit, QDateEdit, QComboBox, QTimeEdit {
    background-color: #292929;
    color: #ffffff;
    
    border-radius: 5px;
    padding: 4px;
    border-color: none;
}

QLineEdit:focus, QDateEdit:focus, QComboBox:focus, QTimeEdit:focus{
    border: 2px solid #C94B6B;
}

QTimeEdit::up-button, QTimeEdit::down-button {
    border: none;
    background: none;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

QDateEdit::drop-down, QComboBox::drop-down {
    background: url('gui/source/icons/arrow_down.svg');
    background-position: 1.5px;
    background-color: #A92849;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-top: 5%;
    margin-right: 6%;
    border-radius: 6%;
    border: none;
}
QDateEdit::drop-down:focus, QComboBox::drop-down {
    margin-top: 3px;
}

QProgressBar{
    background-color: #292929;
    color: #ffffff;
    min-height: 12px;
    max-height: 12px;
    border-radius: 6px;
    padding: 5px;
    text-align: center;
}
QProgressBar::chunk {
    background-color: #C94B6B;
    border-radius: 6px;
}

/* Estilos Especificos */

/* Estilo de los botones del menu */

#menuoptions {
    background-color: #292929;
    border-radius: 5px;
}

#menuoptions QPushButton {
    border: none;
    background-color: none;
    border-radius: 6px;
}

#menuoptions QPushButton:checked {
    background-color: #A92849;
}

/* Estilo de botones de opciones */

#otherOptions QPushButton {
    background-color: none;
    border: none;
}

#otherOptions QPushButton:hover {
    background-color: #C94B6B;
    border-radius: 10px;
}

#form QGroupBox {
    font-size: 10px;
    color: #ffffff;
    border: 1px solid #A92849;
    padding: 5px;
    border-radius: 6px;
}

QPushButton {
    background-color: #292929;
    color: #ffffff;
    background-color: #A92849;
    border-radius: 5px;
    padding: 5px;
}

QPushButton:hover {
    color: #ffffff;
    background-color: #C94B6B;

}

#obj_console{
    background-color: transparent;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

#title {
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

#titlebar{
    background-color: #292929;
    color: #ffffff;
    border-radius: 6px;
}

#titlebar QPushButton{
    background-color: #1A1A1A;
    border-radius: 12%;
}

#titlebar #btn_fullscreen {
    background-color: #1A1A1A;
}

#titlebar #btn_fullscreen:hover {
    background-color: #292929;
}

#titlebar #btn_close{
    background-color: #A92849;
}
#titlebar #btn_close:hover{
    background-color: #C94B6B;
}

#info {
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}

#info QGroupBox {
    font-size: 10px;
    color: #ffffff;
    border: 1px solid #A92849;
    padding: 5px;
    border-radius: 6px;
}